html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  display: block;
}

.file-input {
  padding: 1em;
  border: 2px #808080 dashed;
  max-width: 100px;
}